.join-page h5 {
  font-size: 16px;
  font-weight: bold;
}

.join-page p {
  font-size: 15px;
  line-height: 2em;
  color: #898989;
}

.join-page img {
  width: 100%;
  cursor: pointer;
}

.join-page .join-banner img {
  width: 100%;
  height: inherit;
}

.join-page .join-banner ul {
  text-align: center;
  margin-top: -45px;
}

.join-page .join-banner ul li {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}

.join-page .join-banner ul li a {
  color: #9d8581;
  display: block;
  background: #eee;
  padding: 30px 37px;
  border-radius: 50%;
}

.join-page .join-banner ul li a:hover {
  background: #dbdfe6;
}

.join-page h3 {
  color: #000;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.join-page h3 i {
  font-weight: bold;
  font-size: 40px;
}

.join-page h3::before,
.join-page h3::after {
  content: "";
  display: block;
  width: 41%;
  height: 1px;
  position: absolute;
  top: 32px;
  background: #000;
}

.join-page h3::after {
  right: 0;
}

.join-page form {
  background: #f9f9f9;
  border-radius: 3px;
  /*padding: 50px;*/
  border: solid 1px #dadada;
  margin-bottom: 20px;
}

.join-page form span {
  font-size: 15px;
  /*margin-left: 30px;*/
}

.join-page form .join-jine input {
  width: 15px;
  height: 15px;
  margin-left: 50px;
}

.join-page form p a {
  display: inline-block;
  border-radius: 5px;
  background: #ff8a47;
  padding: 10px 28px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.join-page form p a:hover {
  background: #d64e00;
}

/* 单元格居中 */
table th,
table td {
  text-align: center;
}

.calendar-container {
  padding: 20px;
}

.date-container {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

/*上一月下一月按钮*/
#preMonth,
#nextMonth {
  position: relative;
}
#preMonth:after {
  content: "<";
  position: absolute;
  left: -28px;
  top: -1px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 21px;
  background-color: #428bca;
  color: white;
}
#nextMonth:after {
  content: ">";
  position: absolute;
  left: 4px;
  top: -1px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 21px;
  background-color: #428bca;
  color: white;
}

#nowYear,
#nowMonth,
#nowDate {
  padding: 0 5px;
}

.week-item {
  display: inline-block;
  width: 14.2%;
  height: 60px;
  line-height: 60px;
  border: 1px solid #eeeeee;
  text-align: center;
}

.date-item {
  display: inline-block;
  width: 14.2%;
  line-height: 80px;
  border: 1px solid #eeeeee;
  text-align: center;
}

/* 狗屁生成器 */
@media screen and (max-width: 1024px) {
  #主体 {
    border: 2px solid #333333;
    margin: 6px;
    padding: 6px;
    /* background: #f8f8f8; */
  }

  #标题 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  #主题 {
    text-align: center;
    margin-top: 6px;
    font-size: 0px;
  }

  #主题 span {
    font-size: 2rem;
    vertical-align: baseline;
    margin-left: 6px;
  }

  #主题 input {
    border: none;
    border-bottom: #666666 2px solid;
    padding: 1px 0 0 0;
    margin: 0px 6px 0 6px;
    vertical-align: baseline;
    font-size: 2rem;
    background: #f8f8f8;
    /* color: #333333; */
    text-align: center;
    min-width: 20%;
  }

  #主题 button {
    border: 0;
    padding: 3px 7px 3px 7px;
    margin: 0;
    vertical-align: top;
    font-size: 1.4rem;
    background: #454545;
    color: #efefef;
  }

  #文章 div {
    margin-top: 6px;
    font-size: 2rem;
    text-align: justify;
  }

  #声明 {
    float: left;
    margin: 0 0 0 6px;
  }

  #声明 p {
    margin: 0 0 3px 3px;
    font-size: 1.4rem;
  }

  #声明文字 {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #主体 {
    border: 2px solid #333333;
    margin: 20px;
    padding: 20px;
    /* background: #f8f8f8; */
  }

  #标题 {
    font-size: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
  }

  #主题 {
    text-align: center;
    margin-top: 20px;
    font-size: 0px;
  }

  #主题 span {
    font-size: 1rem;
    vertical-align: baseline;
    margin-left: 20px;
  }

  #主题 input {
    border: none;
    border-bottom: #666666 2px solid;
    padding: 1px 0 0 0;
    margin: 0px 20px 0 20px;
    vertical-align: baseline;
    font-size: 1rem;
    background: #f8f8f8;
    color: #333333;
    text-align: center;
    min-width: 20%;
  }

  #主题 button {
    border: 0;
    padding: 5px 15px 5px 15px;
    margin: 0;
    vertical-align: top;
    font-size: 0.75rem;
    background: #454545;
    color: #efefef;
  }

  #文章 div {
    margin-top: 20px;
    text-align: justify;
  }

  #声明 {
    float: left;
    margin: 0 0 0 20px;
  }

  #声明 p {
    margin: 0 0 5px 5px;
    font-size: 0.75rem;
  }

  #声明文字 {
    display: none;
  }
}
