/*
 * @?: *********************************************************************
 * @Author: Weidows
 * @Date: 2021-06-10 11:30:12
 * @LastEditors: Weidows
 * @LastEditTime: 2021-06-19 20:52:58
 * @FilePath: \UI-assignment\src\main\webapp\css\main.css
 * @Description:
 * @!: *********************************************************************
 */

h1 {
  text-indent: -999px;
  float: left;
}

h2,
h3,
h4 {
  text-align: center;
}

.izl-rmenu {
  background-image: url(../img/consult_icon.gif);
  background-position: center -77px;
  margin-right: 0;
  width: 80px;
  position: fixed;
  right: 0px;
  top: 65%;
  z-index: 999;
}

.izl-rmenu .consult,
.cart {
  display: block;
  height: 76px;
}

.izl-rmenu .consult .phone {
  background-color: #f7f7ff;
  position: absolute;
  width: 160px;
  left: -160px;
  line-height: 73px;
  color: #000;
  font-size: 18px;
  text-align: center;
  display: none;
  box-shadow: #ddd -1px 1px 4px;
}

.izl-rmenu a.consult:hover .phone {
  display: inline !important;
}

.izl-rmenu a.cart:hover .pic {
  display: block;
}

.izl-rmenu .cart .pic {
  display: none;
  position: absolute;
  left: -124px;
  top: 65px;
  width: 160px;
  height: 160px;
  background: url(../img/wechat.jpg);
  background-repeat: no-repeat;
}

.izl-rmenu .btn_top,
.btn_end {
  display: block;
  height: 39px;
}

.izl-rmenu .btn_top {
  background-image: url(../img/float_top.jpg);
}

.izl-rmenu .btn_end {
  background-image: url(../img/float_end.jpg);
}

a:hover {
  text-decoration: none;
}

.banner_img > img {
  height: 500px !important;

}

/*导航*/
header .navbar {
  margin-bottom: 0;
}

header nav .nav li a {
  color: #000;
}

header nav .nav li a:hover {
  color: #3884c0;
  border-bottom: solid #05aec7 2px;
}

header nav .nav .active {
  border-bottom: solid #05aec7 2px;
  color: #3884c0;
}

footer {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  background: #171717;
}

footer .footer-top {
  color: #fff;
  margin-bottom: 20px;
}

footer .footer-top a {
  color: #cacbc7;
  margin-left: 10px;
  margin-right: 10px;
}

footer .footer-top a:hover {
  color: #fff;
}

footer .footer-button {
  color: #666;
  text-align: center;
}

.banner div img {
  margin: auto;
  display: block;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
  height: 532px;
}

.fbwh img {
  width: 100%;
  height: inherit;

}
